* {
	margin:0;
	padding:0;
}

body {
	font-size: 13px;
	font-family:arial;

}

html {

}

a, a:active {
	text-decoration: none;
}

h1 {
	font-size: 3.5em;
}

table.table_content {
	border:1px solid black;
	width:80%;
	margin:auto;
}

table.table_content td{
	border:1px solid black;
}

table.table_content td.id{
	font-weight: bold;
}

nav {
	font-size: 3em;
}

nav li {
	display:inline-block;
	margin:0 1%;
	padding:5px;
	background:lightgrey;
}

section {
	font-size: 1.5em;
	padding:1%;
}

#wrapperContent {
	padding:2%;
}

form {
	font-size: 1.3em;
	background: #eee;
	text-align: center;
}

fieldset {
	width:25%;
	display: inline-block;
	vertical-align: top;
	border: none;
	text-align: left;
}

input[type=submit] {
	background:lightgreen;
	border:none;
	padding:5px 10px;
	text-transform: uppercase;
	font-weight: bold;
}

input[type=submit]:hover {
	cursor: pointer;
}

#displayContent {
	font-size: 1.3em;
}

/***********INSERT***********/
#ongletsBox span {
	font-size: 1.5em;
	padding:5px;
	margin:5px;
	background-color: beige;
}

#displayBoxInsert {
	background:rgba(0,0,0,0.1);

}

#displayBoxInsert div {
	display:none;
	font-size: 1.3em;
}


#displayBoxInsert div.active {
	display:block;
}