* {
	margin:0;
	padding:0;
}

body {
	font-size: 13px;
	font-family:arial;

}

html {

}

a, a:active {
	text-decoration: none;
	color: white;
	text-transform: lowercase;
	font-style: italic;

	transition: all 0.5s;
}

a:hover {
	opacity:0.6;
}

h1 {
	font-size: 1.3em;
	font-family: 'Lora', serif;
}

h2 {
	font-size: 45px;
	font-family: 'Lora', serif;
}

table.table_content {
	border:1px solid black;
	width:80%;
	margin:auto;
	opacity:0.6;
}

table.table_content td{
	border:1px solid black;
	padding:2px 5px;
}

table.table_content td.id{
	font-weight: bold;
}

nav{
	margin-bottom: 15px;
}

nav ul{
	font-size: 2.8em;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	background:#f67280;
	color:white;
}

nav li {
	display:block;
	margin:0 1%;
	padding:5px;
}

section {
	font-size: 1.2em;
	padding:1%;
}

#wrapperContent {
	padding:2%;
}

form {
	font-size: 1em;
	text-align: center;
}

fieldset {
	width:25%;
	display: inline-block;
	vertical-align: top;
	border: none;
	text-align: left;

	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}

textarea, input{
	font-family:arial;
	font-size: 1.2em;
	width:400px;
	margin-bottom:20px;
	padding:3px;
	margin-left: 15px;
	color:rgba(0,0,0,0.7);
} 

input[type=submit] {
	width:300px;
	background:#FFD79C;
	border:none;
	padding:5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	margin:20px auto;
	color:rgba(0,0,0,1);
}

input[type=submit]:hover {
	background:orange;
}

input[type=radio] {
	width:20px;
}

input[type=submit]:hover {
	cursor: pointer;
}

#displayContent {
	font-size: 1.3em;
}

/***********INSERT***********/

#ongletsBox {
	text-align: center;
}

#ongletsBox span {
	font-size: 1.6em;
	padding:5px 20px;
	margin:5px;
	background-color: #375C7D;
	color:#FFD79C;
	text-transform: lowercase;
	border-radius: 4px;

	transition: all 0.5s;
}

#ongletsBox span.spanActive,#ongletsBox span:hover {
	background:red;
}

#ongletsBox span:hover {
	cursor: pointer;
}

#displayBoxInsert {
	border-radius: 7px;
	padding:2% 0;
	background: rgba(0,0,0,0.05);
}

#displayBoxInsert div {
	display:none;
	font-size: 1.3em;
}


#displayBoxInsert div.active {
	display:block;
}

#displayBoxInsert fieldset {
	text-transform: capitalize;
}